# Python

Declaramos variables, no es necesario especificar el tipo

In [ ]:
x = 3

In [ ]:
y = 4

Podemos sumarlas

In [ ]:
x + y

Condicionales y como mostrar texto en pantalla

In [ ]:
if x > 2:
    print("Hola")

In [ ]:
if x > 3:
    print("No entro")
else:
    print("Entro")

Podemos declarar un rango de números, intervalo semiabierto [0, 8)

In [ ]:
range(8)

Podemos iterar sobre "iterables" (listas, rangos, conjuntos)

In [ ]:
y = 0
for x in range(8):
    y = y + 1
print(y)

También podemos iterar con condiciones, usando while

In [ ]:
x = 10
while x > 0:
    print(x)
    x -= 3

Importamos bibliotecas (math trae funciones matemáticas)

In [ ]:
import math

Raiz cuadrada

In [ ]:
math.sqrt(25)

Podemos declarar listas

In [ ]:
l = [1, 2, 3]

Sumar los números de una lista

In [ ]:
sum(l)

Pedir el tamaño de una lista

In [ ]:
len(l)

In [ ]:
sum(l) / len(l)

Una forma mas comoda de crear listas (listas por compresión)

In [ ]:
l = [i for i in range(3)]
l

Tambien existen otros tipos basicos como las string

In [ ]:
a = "hola"
b = ", como estas?"
print(a + b)

Otro tipo de datos util es el diccionario

In [ ]:
diccionario = {
    'a': 1,
    'b': 2
}

In [ ]:
diccionario['a']

In [ ]:
diccionario['c'] = 3.14

In [ ]:
diccionario

Tambien podemos definir funciones

In [ ]:
def sumar_uno(x):
    return x + 1

In [ ]:
sumar_uno(3)

In [ ]:
sumar_uno(x=3)

# Numpy

Importamos la libreria

In [ ]:
import numpy as np

Podemos declarar arrays a partir de listas

In [ ]:
np.array([1, 2, 3, 4])

También podemos declarar utilizando intervalos

In [ ]:
np.arange(1, 5)

Intervalo sumando de a 2

In [ ]:
np.arange(1, 10, 2)

Podemos samplear numeros aleatorios, utiles para generar instancias

In [ ]:
np.random.uniform(1, 10)

Sampleamos 5 valores aleatorios (de una distribucion uniforme)

In [ ]:
np.random.uniform(1, 10, 5)

In [ ]:
np.random.uniform(-1, 1, (5, 2))

Podemos también samplear números enteros

In [ ]:
np.random.randint(1, 10, 3)

Podemos pedir la media de un arreglo de numeros

In [ ]:
x = np.array([1, 2, 3])
x.mean()

O la suma

In [ ]:
x.sum()

In [ ]:
x[1]

In [ ]:
x[0:1]

In [ ]:
M = np.random.randint(0, 10, (3, 3))
M

In [ ]:
M[:, 1]

In [ ]:
M[1, :]

In [ ]:
M[0:2, :]

# Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([
    ['Roberto', 173],
    ['Yamila', 165],
    ['Jorge', 179]
], columns=['Nombre', 'Altura'])

In [ ]:
df

In [ ]:
df['Nombre']

In [ ]:
df['Nombre'] == 'Roberto'

In [ ]:
df['Altura'] > 167

In [ ]:
df[[
    True, False, True
]]

In [ ]:
df[df['Altura'] > 167]

In [ ]:
df.sort_values('Altura')

In [ ]:
df = pd.concat([
    df,
    pd.DataFrame([['Yamila', 170]], columns=['Nombre', 'Altura']),
])
df

In [ ]:
df.groupby('Nombre')['Altura'].mean()

# Matplotlib / Seaborn

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.lineplot(
    [x for x in range(-20, 21)],
    [x ** 2 for x in range(-20, 21)]
)

In [ ]:
sns.lineplot(
    [x for x in range(-20, 21)],
    [x ** 3 for x in range(-20, 21)]
)

In [ ]:
puntos = np.random.uniform(-1, 1, (20, 3))
sns.scatterplot(puntos[:, 0], puntos[:, 1])

In [ ]:
sns.distplot(np.random.normal(8, 10, 100))

In [ ]:
sns.distplot(np.random.normal(8, 10, 100))
sns.distplot(np.random.exponential(8, 100))

In [ ]:
sns.distplot(np.random.normal(8, 10, 100))
plt.title("Distribución normal | mu = 8 | sigma = 10")

# Algo mas serio

In [ ]:
df = pd.read_csv("crime.csv", encoding="ISO-8859-1")
df.head()

In [ ]:
df.info()

In [ ]:
df[['Lat', 'Long']].head()

In [ ]:
fig, axs = plt.subplots(1, 1, figsize=(10, 10))
sns.scatterplot(data=df[df['Long'] < -10], x='Long', y='Lat', hue='DISTRICT')

In [ ]:
heatmap = df.groupby([
    'DAY_OF_WEEK', 'HOUR'
])['INCIDENT_NUMBER'].count().reset_index()
heatmap.head()

In [ ]:
heatmap = heatmap.pivot(columns='HOUR', index='DAY_OF_WEEK', values='INCIDENT_NUMBER')

In [ ]:
fig, axs = plt.subplots(1, 1, figsize=(20, 5))
sns.heatmap(heatmap, annot=True, ax=axs, fmt=".0f")