Importar Pandas

In [142]:
import pandas as pd

Leer el dataset desde: https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/f4495ee9-c42c-4019-82c1-d067f07e45d2/download/tmp7_f32p54.csv

In [169]:
df_dataset = pd.read_csv('https://data.boston.gov/dataset/6220d948-eae2-4e4b-8723-2dc8e67722a3/resource/f4495ee9-c42c-4019-82c1-d067f07e45d2/download/tmp7_f32p54.csv', encoding ="utf-8")

/home/lucasds/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Mostrar las primeras 10 filas

In [144]:
df_dataset[:10]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,PLTEST005,520,NaN,BURGLARY - RESIDENTIAL,B2,289,1,2021-10-13 00:00:00,2021,10,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
1,PLTEST003,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
2,PLTEST002,3114,NaN,INVESTIGATE PROPERTY,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
3,PLTEST001,3114,NaN,INVESTIGATE PROPERTY,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)"
4,312030979,3201,NaN,PROPERTY - LOST/ MISSING,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
5,292152228,3301,NaN,VERBAL DISPUTE,C11,347,0,2021-07-28 20:45:00,2021,7,Wednesday,20,NaN,LYON ST,42.306383,-71.060212,"(42.30638322801941, -71.06021217719662)"
6,282080177,3801,NaN,M/V ACCIDENT - OTHER,A1,,0,2021-11-02 13:23:00,2021,11,Tuesday,13,NaN,CAMBRIDGE ST & BOWDOIN ST\nBOSTON MA 02114\nU...,42.361190,-71.062880,"(42.361189964341946, -71.06287997127626)"
7,222000453,617,NaN,LARCENY THEFT FROM BUILDING,E13,,0,2021-12-30 12:30:00,2021,12,Thursday,12,NaN,MONTEBELLO RD,42.311768,-71.099716,"(42.31176765436927, -71.09971563708591)"
8,222000599,1106,NaN,FRAUD - CREDIT CARD / ATM FRAUD,B2,282,0,2021-12-29 22:40:00,2021,12,Wednesday,22,NaN,WASHINGTON ST,42.328663,-71.085634,"(42.32866283555608, -71.08563401183545)"
9,222000592,1102,NaN,FRAUD - FALSE PRETENSE / SCHEME,A1,98,0,2021-11-23 00:00:00,2021,11,Tuesday,0,NaN,MILK ST,42.356733,-71.057559,"(42.356733021573184, -71.05755938440176)"

Mostrar las columnas del dataframe

In [145]:
df_dataset.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

¿Cuántas filas tiene el dataset?

In [146]:
len(df_dataset)

71721

¿Cuál es el código de ofensa más realizada?

In [147]:
df_dataset['OFFENSE_CODE'].value_counts().index[0]

3115

¿Cuál es el código de ofensa más realizada los días miércoles?

In [148]:
df_dataset[df_dataset['DAY_OF_WEEK'] == 'Wednesday']['OFFENSE_CODE'].value_counts().index[0]

3115

Ordenar el dataframe por el campo Street y mostrar las 10 primeras entradas

In [149]:
df_dataset.sort_values(by=['STREET'])[:10]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
2651,212092024,3115,NaN,INVESTIGATE PERSON,A1,,0,2021-12-16 14:07:00,2021,12,Thursday,14,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
47829,212031320,540,NaN,BURGLARY - COMMERICAL,A1,,0,2021-05-13 15:14:00,2021,5,Thursday,15,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
43232,212037399,3114,NaN,INVESTIGATE PROPERTY,A1,,0,2021-06-05 10:28:00,2021,6,Saturday,10,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
14772,212075340,423,NaN,ASSAULT - AGGRAVATED,A1,,0,2021-10-17 00:23:00,2021,10,Sunday,0,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
5496,212087601,616,NaN,LARCENY THEFT OF BICYCLE,A1,,0,2021-11-30 15:15:00,2021,11,Tuesday,15,NaN,1 FINANCIAL CTR,0.000000,0.000000,"(0, 0)"
68256,212004142,3801,NaN,M/V ACCIDENT - OTHER,B3,488,0,2021-01-19 18:57:00,2021,1,Tuesday,18,NaN,1 JOYCE RD\nHYDE PARK MA 02136\nUNITED STATES,42.265578,-71.109590,"(42.265578151908386, -71.10959007907596)"
70291,212001413,3110,NaN,SERVICE TO OTHER AGENCY,A1,289,0,2021-01-07 12:59:00,2021,1,Thursday,12,NaN,1 SCHROEDER PLZ\nROXBURY MA 02120\nUNITED STATES,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
62491,212011892,3820,NaN,M/V ACCIDENT - INVOLVING PEDESTRIAN - INJURY,E13,289,0,2021-02-23 19:44:00,2021,2,Tuesday,19,NaN,1 SCHROEDER PLZ\nROXBURY MA 02120\nUNITED STATES,42.324925,-71.098396,"(42.3249249993084, -71.0983960303326)"
65634,212007684,111,NaN,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",B3,289,1,2021-02-04 22:02:00,2021,2,Thursday,22,NaN,1 SCHROEDER PLZ\nROXBURY MA 02120\nUNITED STATES,42.282466,-71.080186,"(42.282465974179274, -71.08018600371274)"
62712,212011597,3119,NaN,FIREARM/WEAPON - FOUND OR CONFISCATED,E13,912,0,2021-02-22 15:22:00,2021,2,Monday,15,NaN,1 SCHROEDER PLZ\nROXBURY MA 02120\nUNITED STATES,42.322860,-71.101361,"(42.32285995985158, -71.10136095684426)"

Pasar a minúsculas todos las descripciones de ofensas

In [170]:
df_dataset['OFFENSE_DESCRIPTION'] = df_dataset.apply(lambda row: row['OFFENSE_DESCRIPTION'].lower(),axis =1)
df_dataset

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,PLTEST005,520,NaN,burglary - residential,B2,289,1,2021-10-13 00:00:00,2021,10,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
1,PLTEST003,3114,NaN,investigate property,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
2,PLTEST002,3114,NaN,investigate property,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
3,PLTEST001,3114,NaN,investigate property,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)"
4,312030979,3201,NaN,property - lost/ missing,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71716,121005808,1102,NaN,fraud - false pretense / scheme,B3,289,0,2021-01-19 12:00:00,2021,1,Tuesday,12,NaN,CLARKWOOD ST,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)"
71717,121000816,3304,NaN,noisy party/radio-no arrest,E5,675,0,2021-01-04 00:00:00,2021,1,Monday,0,NaN,BRADFIELD AVENUE,0.000000,0.000000,"(0, 0)"
71718,120221042,3006,NaN,sick/injured/medical - person,E5,680,0,2021-04-02 10:45:00,2021,4,Friday,10,NaN,WASHINGTON ST,42.283902,-71.130863,"(42.283902436483125, -71.13086262643496)"
71719,10637224,3125,NaN,warrant arrest - boston warrant (must be suppl...,D4,270,0,2021-01-26 18:54:00,2021,1,Tuesday,18,NaN,NORTHAMPTON ST,42.333951,-71.075389,"(42.333951248393774, -71.07538938822692)"
71720,23844463,3115,NaN,investigate person,C6,,0,2021-10-16 01:16:00,2021,10,Saturday,1,NaN,G ST & E 8TH ST\nBOSTON MA 02127\nUNITED STATES,42.331320,-71.044080,"(42.33132003900925, -71.04407996166562)"

¿Cuál es la distribución en deciles de la Latitud de los crímenes?

In [151]:
pd.qcut(df_dataset['Lat'],q=10, retbins=True)

(0        (42.326, 42.334]
 1        (42.326, 42.334]
 2        (42.326, 42.334]
 3        (-0.001, 42.271]
 4        (42.271, 42.287]
                ...
 71716    (42.326, 42.334]
 71717    (-0.001, 42.271]
 71718    (42.271, 42.287]
 71719    (42.326, 42.334]
 71720    (42.326, 42.334]
 Name: Lat, Length: 71721, dtype: category
 Categories (10, interval[float64, right]): [(-0.001, 42.271] < (42.271, 42.287] < (42.287, 42.298] < (42.298, 42.312] ... (42.334, 42.343] < (42.343, 42.351] < (42.351, 42.362] < (42.362, 42.395]],
 array([ 0.        , 42.27141482, 42.28709355, 42.29755533, 42.31169618,
        42.32579408, 42.33438721, 42.34295334, 42.35082687, 42.36183857,
        42.39504158]))

Crear una nueva columna con la longitud de la calle donde sucedió el crimen

In [171]:
df_dataset = df_dataset.assign(long2=df_dataset['Long'].values)
df_dataset

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,long2
0,PLTEST005,520,NaN,burglary - residential,B2,289,1,2021-10-13 00:00:00,2021,10,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)",-71.091878
1,PLTEST003,3114,NaN,investigate property,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)",-71.091878
2,PLTEST002,3114,NaN,investigate property,B2,289,0,2021-05-12 00:00:00,2021,5,Wednesday,0,NaN,SCHROEDER PLZ,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)",-71.091878
3,PLTEST001,3114,NaN,investigate property,B2,,0,2021-03-29 00:00:00,2021,3,Monday,0,NaN,SCHROEDER PLAZA,0.000000,0.000000,"(0, 0)",0.000000
4,312030979,3201,NaN,property - lost/ missing,E13,465,0,2021-03-22 00:00:00,2021,3,Monday,0,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)",-71.091374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71716,121005808,1102,NaN,fraud - false pretense / scheme,B3,289,0,2021-01-19 12:00:00,2021,1,Tuesday,12,NaN,CLARKWOOD ST,42.333679,-71.091878,"(42.33367921810846, -71.09187754618458)",-71.091878
71717,121000816,3304,NaN,noisy party/radio-no arrest,E5,675,0,2021-01-04 00:00:00,2021,1,Monday,0,NaN,BRADFIELD AVENUE,0.000000,0.000000,"(0, 0)",0.000000
71718,120221042,3006,NaN,sick/injured/medical - person,E5,680,0,2021-04-02 10:45:00,2021,4,Friday,10,NaN,WASHINGTON ST,42.283902,-71.130863,"(42.283902436483125, -71.13086262643496)",-71.130863
71719,10637224,3125,NaN,warrant arrest - boston warrant (must be suppl...,D4,270,0,2021-01-26 18:54:00,2021,1,Tuesday,18,NaN,NORTHAMPTON ST,42.333951,-71.075389,"(42.333951248393774, -71.07538938822692)",-71.075389
71720,23844463,3115,NaN,investigate person,C6,,0,2021-10-16 01:16:00,2021,10,Saturday,1,NaN,G ST & E 8TH ST\nBOSTON MA 02127\nUNITED STATES,42.331320,-71.044080,"(42.33132003900925, -71.04407996166562)",-71.044080

¿Cuál es la suma de las longitudes calculadas?

In [159]:
df_dataset['Long'].sum()

-4892748.244741684

¿Y la mediana?

In [162]:
df_dataset['Long'].median()

-71.07586449340906

¿Cuál es el promedio de esas mismas longitudes pero agrupando los datos en cada día de la semana?

In [165]:
df_dataset.groupby(['DAY_OF_WEEK'])['Long'].mean()

DAY_OF_WEEK
Friday      -68.464017
Monday      -68.241977
Saturday    -68.171283
Sunday      -68.378837
Thursday    -67.944026
Tuesday     -68.342038
Wednesday   -67.998986
Name: Long, dtype: float64